{% extends "base_template.html" %} <!-- extends block establishes the inheritance link between this content and base_template -->
{% block content %} <!-- the linked templates have matching block statements named "content" -->

	<form class="form-horizontal" role="form" action="" method="post" name="login">
		
		{{ form.hidden_tag() }} <!-- template arg replaced with hidden field that implements the CSRF prevention -->
		
		<div class="form-group">
			<p>
				Day: {{ form.day() }}
				{% for error in form.day.errors %} <!-- error message: for loop that renders any errors added by the validators attached to field -->
					<span style="color: red;">* {{ error }}</span>
				{% endfor %}<br>
			</p>
			<p>
				Time: {{ form.time() }}
				{% for error in form.time.errors %} <!-- error message: for loop that renders any errors added by the validators attached to field -->
					<span style="color: red;">* {{ error }}</span>
				{% endfor %}<br>
			</p>
			<p>
				Module: {{ form.module() }}
				{% for error in form.module.errors %} <!-- error message: for loop that renders any errors added by the validators attached to field -->
					<span style="color: red;">* {{ error }}</span>
				{% endfor %}<br>
			</p>
		</div>

		<p><input type="submit" value="Display" class="btn btn-default"></p>
		
	</form>

	<h2>Analysis Results<h2>

	<ul>
	{% for q in query %}
		<li> {{ q.day }} - {{ q.time }} - {{ q.module }} - {{ q.estimate }}% </li>
	{% endfor %}
	</ul>
	
{% endblock %}