<!DOCTYPE html>
<html lang="en">
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta charset="UTF-8">
	<!-- SUPPORT FOR IE6-8 OF HTML5 ELEMENTS -->
	<!--[if lt IE 9]>
	<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->

	<title>ReSTimator - {{ pg_name }} </title>
	<link rel="shortcut icon" type="image/x-icon" href="{{ url_for('static', filename='images/1470162041.ico') }}">

	<!-- style sheets -->
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/reset.css') }}">
	<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">

	<!-- Scripts -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
	<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>    	
    
	<!-- Style -->
	<style>
	/* On small screens, set height to 'auto' for sidenav and grid */
	@media screen and (max-width: 767px) {
		.row.content {
			height:auto;
		}

		.navbar-right{
			float: left;
		}

		.navbar-right li{
			display: inline-block;
			<!--float: right;-->
		}

		/*
		#drop{
		display: flex;
		}

		#drop .nav{
		width: 50px;
		}
		*/
	}
	</style>
</head>
<body>	
	<!-- http://www.w3schools.com/bootstrap/bootstrap_navbar.asp -->
    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>                        
                </button>
                <a class="navbar-brand" href="{{ url_for('main.home') }}"><img src="/static/images/ucd_logo.png" alt="UCD logo"></a>
            </div>
            <div class="collapse navbar-collapse" id="myNavbar">
                <ul class="nav navbar-nav", id="drop">
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">ReSTimator<span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <!--<li class="active"><a href="{{ url_for('main.home') }}">Home</a></li>-->
                            <li><a href="{{ url_for('main.home') }}">Home</a></li>
                            <li><a href="{{ url_for('analysis.analysis') }}">Analysis</a></li>
                            <li><a href="{{ url_for('upload.upload_GT') }}">Input Occupancy Info</a></li>
                            <li><a href="{{ url_for('upload.admin_options') }}">Admin Area</a></li>
                        </ul>
                        </li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
				    <li><a href="{{ url_for('users.sign_up') }}"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
				    <li><a href="{{ url_for('users.login') }}"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
				    <li><a href="{{ url_for('users.logout') }}"><span class="glyphicon glyphicon-log-out"></span> Logout</a></li>
                </ul>
            </div>
      </div>
    </nav>

	<div class="container-fluid text-center">
		<div class="row content">
			<div class="col-sm-8 text-left">
				{% with messages = get_flashed_messages() %}
					{% if messages %}
						<ul id="flash">
						{% for message in messages %}
							<li>{{ message }} </li>
						{% endfor %}
						</ul>
					{% endif %}
				{% endwith %}
				<!-- child template -->
				{% block content %}{% endblock %} <!-- Block control statement: where other templates can insert themselves -->
			</div>
		</div>
	</div>

	<!-- Main script -->
	<script type="text/javascript" src="/static/scripts/main.js"></script>
	<script type="text/javascript"> var csrftoken = "{{ csrf_token() }}" </script> <!-- http://flask-wtf.readthedocs.io/en/latest/csrf.html -->
</body>
</html>