{% extends "base_template.html" %} <!-- extends block establishes the inheritance link between this content and base_template -->
{% block content %} <!-- the linked templates have matching block statements named "content" -->
	<form class="form-horizontal" role="form" action="" method="post" name="login">
		
		{{ form.hidden_tag() }} <!-- template arg replaced with hidden field that implements the CSRF prevention -->
		
		<div class="form-group">
			<p>
				{{ form.username(placeholder="Username") }}
				{% for error in form.username.errors %} <!-- error message: for loop that renders any errors added by the validators attached to field -->
					<span style="color: red;">* {{ error }}</span>
				{% endfor %}<br>
			</p>
			<p>
				{{ form.password(placeholder="Password") }}
				{% for error in form.password.errors %} <!-- error message: for loop that renders any errors added by the validators attached to field -->
					<span style="color: red;">* {{ error }}</span>
				{% endfor %}
			</p>
			<p>
				{{ form.remember_me }} Remember Me
			</p>
			<p><input type="submit" value="Sign In" class="btn btn-default"></p>
			{% if error != None %}
				<p style="color: red;"> {{ error }} <p>
			{% endif %}
		</div>

		
		
	</form>
{% endblock %}