{% extends "base_template.html" %} <!-- extends block establishes the inheritance link between this content and base_template -->
{% block content %} <!-- the linked templates have matching block statements named "content" -->

	<form class="form-horizontal" role="form" action="" method="post" name="login">

		{{ form.hidden_tag() }} <!-- template arg replaced with hidden field that implements the CSRF prevention -->
		
		<div class="form-group">
			<p>
				Room: {{ form.room() }}
				{% for error in form.room.errors %} <!-- error message: for loop that renders any errors added by the validators attached to field -->
					<span style="color: red;">* {{ error }}</span>
				{% endfor %}<br>
			</p>
			<p>
				Day: {{ form.day() }}
				{% for error in form.day.errors %} <!-- error message: for loop that renders any errors added by the validators attached to field -->
					<span style="color: red;">* {{ error }}</span>
				{% endfor %}<br>
			</p>
			<p>
				Time: {{ form.hourly_time() }}
				{% for error in form.hourly_time.errors %} <!-- error message: for loop that renders any errors added by the validators attached to field -->
					<span style="color: red;">* {{ error }}</span>
				{% endfor %}<br>
			</p>
		</div>

		<p><input type="submit" value="Display" class="btn btn-default"></p>
		
	</form>

	<h2>Analysis Results<h2>

	<ul>
	{% for q in query %}
		<li> {{ q.room }} - {{ q.day }} - {{ q.hourly_time }} - {{ "{0:.2f}".format(q.predicted_occupancy * 100) }}% </li>
	{% endfor %}
	</ul>

    {% if chart_query != "" %}
        <!-- Google Chart -->
        <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
        <script>
            // Load the Visualization API and the corechart package.
            google.charts.load('current', {'packages':['corechart']});

            // Set a callback to run when the Google Visualization API is loaded.
//            google.charts.setOnLoadCallback(drawChart);
            google.charts.setOnLoadCallback(function() {
                var results = []; // array to contain data for chart
                {% for q in chart_query %}
                    results.push({time:"{{ q.hourly_time }}", occupancy:{{ "{0:.2f}".format(q.predicted_occupancy * 100) }}});
                {% endfor %}
    //            console.log(results[0]);
                test();
                drawChart(results);
            });

        </script>
        
        <div id="chart"></div>
	{% endif %}
{% endblock %}