{% extends "base_template.html" %} <!-- extends block establishes the inheritance link between this content and base_template -->
{% block content %} <!-- the linked templates have matching block statements named "content" -->

    <h1>Admin Area</h1>
    <hr />
    <h2>Add Location Information</h2>

    <form class="form-horizontal" role="form" action="" method="post" name="add_location">
        
		{{ form.hidden_tag() }} <!-- template arg replaced with hidden field that implements the CSRF prevention -->
		
		<div class="form-group">
			<p>
				Campus: {{ form.campus() }}
				{% for error in form.campus.errors %} <!-- error message: for loop that renders any errors added by the validators attached to field -->
					<span style="color: red;">* {{ error }}</span>
				{% endfor %}<br>
			</p>
			<p>
				Building: {{ form.building() }}
				{% for error in form.building.errors %} <!-- error message: for loop that renders any errors added by the validators attached to field -->
					<span style="color: red;">* {{ error }}</span>
				{% endfor %}<br>
			</p>
            <p>
				Room: {{ form.room() }}
				{% for error in form.room.errors %} <!-- error message: for loop that renders any errors added by the validators attached to field -->
					<span style="color: red;">* {{ error }}</span>
				{% endfor %}<br>
			</p>
			<p>
				Room Capacity: {{ form.capacity() }}
				{% for error in form.capacity.errors %} <!-- error message: for loop that renders any errors added by the validators attached to field -->
					<span style="color: red;">* {{ error }}</span>
				{% endfor %}<br>
			</p>
		</div>

		<p><input type="submit" value="Submit" class="btn btn-primary"></p>
	</form>
        
{% endblock %}