{% extends "base_template.html" %} <!-- extends block establishes the inheritance link between this content and base_template -->
{% block content %} <!-- the linked templates have matching block statements named "content" -->

    <link rel="stylesheet" href="https://code.jquery.com/ui/1.11.0/themes/smoothness/jquery-ui.css">
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.0/jquery-ui.js"></script>
    <script>
        $( function() {
            $( ".datepicker" ).datepicker({ dateFormat: 'dd-mm-yy' });
        } );
    </script>

	<style>
	    ul {
	        list-style:disc;
	        margin-left: 20px;
	    }
	    
	    input {
	    	margin-right: 15px;
	    }
	</style>

    <h1>Input Occupancy Information</h1>
    <hr />
    <h2><span style="color: red;">Are you sure?</span></h2>
	<p>Data already exists for room {{ old_row.room }} at {{ old_row.time }} on {{ date }}.</p>
	<strong>Existing Data:</strong><br />
	<ul>
		<li>Room: {{ old_row.room }}</li>
		<li>Date: {{ date }}</li>
		<li>Time: {{ old_row.time }}</li>
		<li>Module Code: {{ old_row.module_code }}</li>
		<li>Occupancy: {{ old_row.occupancy }}</li>
	</ul>
	
	<h2>Please Confirm Your Choices:</h2>
	
	<form class="form-horizontal" role="form" action="" method="post" name="confirm">
        
		{{ form.hidden_tag() }} <!-- template arg replaced with hidden field that implements the CSRF prevention -->
		
		<div class="form-group">
			<p>
				Room: {{ form.room() }}
				{% for error in form.room.errors %} <!-- error message: for loop that renders any errors added by the validators attached to field -->
					<span style="color: red;">* {{ error }}</span>
				{% endfor %}<br>
			</p>
			<p>
				Date: {{ form.date(class="datepicker") }}
                {% for error in form.date.errors %} <!-- error message: for loop that renders any errors added by the validators attached to field -->
					<span style="color: red;">* {{ error }}</span>
				{% endfor %}<br>
			</p>
			<p>
				Time: {{ form.time() }}
				{% for error in form.time.errors %} <!-- error message: for loop that renders any errors added by the validators attached to field -->
					<span style="color: red;">* {{ error }}</span>
				{% endfor %}<br>
			</p>
            <p>
				Module Code: {{ form.module_code() }}
				{% for error in form.module_code.errors %} <!-- error message: for loop that renders any errors added by the validators attached to field -->
					<span style="color: red;">* {{ error }}</span>
				{% endfor %}<br>
			</p>
            <p>
				Occupancy: {{ form.occupancy() }}
				{% for error in form.occupancy.errors %} <!-- error message: for loop that renders any errors added by the validators attached to field -->
					<span style="color: red;">* {{ error }}</span>
				{% endfor %}<br>
			</p>
		</div>
		
		<p><input type="submit" name="button" value="Confirm" class="btn btn-primary"></p>
		
	</form>
	
	
        
{% endblock %}